/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Nov 29, 2017, 5:51:25 PM
    Author     : 00140307
*/

#menu
ul li{
    list-style-type: none;
    display: inline;
    font-size: 50px;
    /*background: #DF7401;*/
    padding: 60px;
    border-radius: 8px;
    
}


a:hover{
    font-size: 60px;
    
}

a{
    text-decoration: none;
    color: black;
    
}

#menu{
    text-align: center;
}

#cabezera{
    text-align: left;
    
  
}

#pie{
    text-align: center;
}


#audio{
    text-align: right;
}